{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Bienvenue sur Vente de Chaussures.com !</h1>
        <img src="../public/assets/CAMUUUUUS.png" alt="image camus">
    </div>
{% endblock %}