{% extends 'home.html.twig' %}
{% block title %}{{ parent() }}| Liste Burger{% endblock %}
 
{% block body %}
    <div>
        <h1 class="text-3xl font-bold underline m-0">
            Liste Burger        
        </h1>
        <a href={{path('home')}}>APPUIE ICI POUR RETOURNER SUR LA PAGE D'ACCUEIL</a>
    </div>
{% endblock %}